<!DOCTYPE html>
<html lang="en" ng-app="ngClass">
<head>
  <meta charset="UTF-8">
  <title>ng class</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
  <script src="js/app.js"></script>
</head>
<body>

  <div ng-controller="HomeCtrl" class="well" style="background-color: grey;">
    <input type="text"
           id="name"
           ng-model="name"
           ng-class="validation"
           class="form-control"
           ng-change="validateForm()">
  </div>

  <div ng-controller="HomeCtrl" class="well" style="background-color: green">
    <h1 ng-class="styles">My name is Denis</h1>
    <button ng-click="changeStyle('bold')">Toggle Bold</button>
    <button ng-click="changeStyle('italics')">Toggle Italics</button>
  </div>

  <div ng-controller="MyCtrl">
    <input type="text" ng-model="search">
    <ul>
      <li class="animate" ng-repeat="song in songs | filter:search">{{song}}</li>
    </ul>
  </div>

</body>
</html>